<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(clients)}">
        <h2>Client List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Client Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"><a href="/clients/${client.id}">Id</a></td>
                <td th:text="${client.clientId}">Client Id</td>
                <td th:text="${client.clientName}">Client name</td>
                <td th:text="${client.address}">Address</td>
                <td><a th:href="${ '/clients/' + client.id}">View</a></td>
                <td><a th:href="${'/clients/edit/' + client.id}">Edit</a></td>
                <td><a th:href="${'/clients/delete/' + client.id}">Delete</a></td>
            </tr>
        </table>

    </div>
    <div th:if="${#lists.isEmpty(clients)}">
        <p>No clients</p>
    </div>
</div>

</body>
</html>